body {
    background-color: oldlace;
    padding: 25px;
    font-size: 200%;

    h1 {
        color: cyan;
        padding: 15px;
        background: silver;
        width: fit-content;
        font-family: cursive;
        font-size: 300%;
    }

    font {
         font-weight: bold;
    }

    .highlight-text {
        line-height: 150%;
        border-style: double;
    }
}